.canvas {
    width: 500px;
    height: 600px;
    background-color: #4f0d00;
    padding: 1px;
}
.frame {
    border: solid black 50px;
    width: 500px;
    padding: 50px;
}
.one {
    width: 425px;
    height: 150;
    background-color: #efb762;
    margin: 20px auto;
}